body{
  background: #FFFFE0
}
.gallery{ text-align: center;
}


.image{
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:30px;
}
h2{
  text-align: center;
  font-family: Georgia;
  margin-bottom:10px;
}

@media screen and (max-width: 800px){
  .image{
    width:40%;
  }

}

@media screen and (max-width: 600px){
  .image{
    width:85%;
  }

}
